<div style="overflow:auto; padding-bottom: 1em; display:inline-block;">
    <fieldset class="fieldsets">
        <legend>Lista de Materiales</legend>
        <div style="float:left">
            <div class="fieldLbl" >Documento</div>
            <span class="fieldTxt" >{{Model.Ml.DocNumber}}</span>
        </div>
    
        <div style="float:left; padding-left: 5em">
            <div class="fieldLbl" >Titulo</div>
            <span class="fieldTxt" >{{Model.Ml.Title}}</span>
        </div>
        
        <div style="float:left; padding-left: 5em">
            <div class="fieldLbl">Rev</div>
            <span class="fieldTxt">{{Model.Ml.Revision}}</span>
        </div>
    </fieldset>
</div>