<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clutch" version="1.0.5186.26482" targetFramework="net40" />
  <package id="Clutch.Diagnostics.EntityFramework" version="1.0.5186.27187" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
</packages>