<!DOCTYPE html>
<html>
<head>

<script src="angular.js"></script>
</head>
<body ng-app='app' ng-init="Model.Count = '1'; text = 'Init Text'; Model.Items = [{Id: 1, Value: 'holis'},{Id: 2, Value: 'chauchis'}]">

<div>
	AppText: {{text}}
	<button type="button" ng-click="text = 'App Text'">App Text</button>
</div>
<div my-child-scope-directive>
	DirectiveText: {{text}}
	<button type="button" ng-click="setDirectiveText('Directive Text')">App Text</button>
</div>

<input type="text" ng-model="Model.Count"/>
<input type="text" ng-model="Model.Texto"/>
<div my-repeater='Model.Count'>
hola&nbsp;{{Model.Texto}}!
</div>

<div my-readonly-repeat2='item in Model.Items'>
id: {{item.Id}}, value: {{item.Value}}
</div>

<!-- <div my-readonly-repeat='item in Model.Items' data-mongo='x'>
id: {{item.Id}}, value: {{item.Value}}
</div> -->

<button type="button" ng-click="Model.Items[0].Value = Model.Items[0].Value + '!'">Change repeat collection</button>
<button type="button" ng-click="Model.Items.push({Id: 9, Value: 'xxx'})">add item</button>
<input name="t1" type="text" ng-change="change1()" ng-change-delay="250" />
<input name="t2" type="text" ng-change="change2()" ng-change-delay="300" />
</body>



</html>

<script type="text/javascript">
angular.module('app', [])
.run(['Element', function(Element){
	var data = {mongo: 'cucamona'};
	var xx = Element(data);
	var y = 2;
	var str = "  item in items";
	var match = str.match(/(\w+)\s+in\s+(\w+)/);
	var item = match[1];
	var collection = match[2];
}])
.directive('myRepeater', function() {
return {
 	restrict: 'A',
    transclude: 'element',
	scope: {
		'count' : '=myRepeater' // '=' permite pasar un objeto del scope parent (two way binding)
	},
	link: function($scope, $element, $attr, ctrl, $transclude){
			var prevElems = [];
			$scope.soyElPrincipal = true;
			$scope.$watch('count', function(newValue){
			    for(var i in prevElems){
					var elem = prevElems[i];
					elem.remove();
				}
				for(var i = 0; i< $scope.count; i++){
					$transclude(function(clone, scope) {
						prevElems.push(clone);
						$element.after(clone[0]);	
							});
				}
			});

		}
    }
})

.directive('myReadonlyRepeat', function () {
        return {
            restrict: 'A',
            transclude: 'element',
            link: function($scope, $element, $attr, ctrl, $transclude) {
                var expression = $attr.myReadonlyRepeat;
                var match = expression.match(/(\w+)\s+in\s+(\S+)/);
                if (!match) {
                    throw new Error("Expected expression in form of 'item in array' but got " + expression);
                }

                var itemStr = match[1];
                var collectionStr = match[2];

                var prevBlocks = [];


                $scope.$watchCollection(collectionStr, function (collection) {

                    for (var i in prevBlocks) {
                        var block = prevBlocks[i];
                        block.scope.$destroy();
                        block.elem.remove();
                    }
                    prevBlocks = [];
                    var prevElem = $element;

                    for (var i = 0; i < collection.length; i++) {
                        $transclude(function(clone, scope) {
                            var block = { elem: clone, scope: scope };
                            prevBlocks.push(block);
                            scope[itemStr] = collection[i];
                            prevElem.after(clone[0]);
                            prevElem = clone;
                        });
                    }

                });

            }
        }
    })

.directive('myReadonlyRepeat2', [ '$interpolate',function($interpolate) {
return {
 	restrict: 'A',
	transclude: 'element',
	link: function($scope, $element, $attr, ctrl, $transclude){
			var expression = $attr.myReadonlyRepeat2;
			var match = expression.match(/(\w+)\s+in\s+(\S+)/);
			if (!match) {
				throw new Error("Expected expression in form of 'item in array' but got " + expression);
			}
			
			var itemStr = match[1];
			var collectionStr = match[2];
			
			var prevElems = [];
			var template;
			
			$transclude(function(clone) {
						template = clone;
						//scope.$destroy();
					});
			
			template.removeAttr('my-readonly-repeat2');
			var itplFn = $interpolate(template[0].outerHTML);			
			
			$scope.$watchCollection(collectionStr, function (collection){
				for(var i in prevElems){
					var elem = prevElems[i];
					elem.remove();
				}
				prevElems = [];
				
				var context = {};			
				var prevElem = $element;
						
				for(var i = 0; i < collection.length; i++){
					context[itemStr] = collection[i];
					var html = itplFn(context);
					var elem = angular.element(html);
					prevElems.push(elem);
					prevElem.after(elem[0]);
					prevElem = elem;
				}
			});

		}
    }
}])

.directive('myChildScopeDirective', function() {
return {
 	restrict: 'A',
	scope: true,
	link: function($scope, $element, $attr){
			$scope.setDirectiveText = function(text){
				//hasta que este scope no asigna text, text lo lee del parent. 
				//Cuando asigna se crea un key text en este scope y queda definitivamente desconectado de text de parent
				$scope.text = "Form Directive"; 
			}

		}
    	}
})
.directive('ngChangeDelay', ['$timeout', function ($timeout) {
    return {
        restrict: 'A',
        //true -> child scope, false o undefined -> shared scope
        // scope: {name: '@' (idem '@name')} -> one way binding de literals o expressions ( name='{{Model.Name}}' ), toma el valor del atributo name en forma readOnly
        // scope: {name: '='} -> two way binding de un objeto del scope externo ( name='Model.Name' ) 
        // scope: {onChange: '&'} -> para callbacks sobre el scope externo ( on-change='changed()' )
        scope: true,  
        compile: function (element, attributes) {
            var expression = attributes['ngChange'];
            if (!expression)
                return;

            var ngModel = attributes['ngModel'];
            if (ngModel) attributes['ngModel'] = '$parent.' + ngModel;
            attributes['ngChange'] = '$$delay.execute()';

            return {
                post: function (scope, iElement, iAttributes) {
                    scope.$$delay = {
                        expression: expression,
                        delay: scope.$eval(iAttributes['ngChangeDelay']),
                        execute: function () {
                            var state = scope.$$delay;
                            state.then = Date.now();
                            $timeout(function () {
                                if (Date.now() - state.then >= state.delay)
                                    scope.$parent.$eval(expression);
                            }, state.delay);
                        }
                    };
                }
            }
        }
    };
} ])
.factory('Element', function()
{
    var element = function(data) {
        var self = {};
		angular.extend(self, data);
		self.getA = function(){return d.aa + '!';} 
		self.propiedad = 'texto';
		return self;
    };
    return element;
});
;

var data = {aa: 'hola', bb: 'chau'};

function Mongo(data){
	var xx = this;
	var d = data;
	var getA = function(){return d.aa + '!';}
	var pub = {getA: getA};
	angular.extend(pub, d);
	return pub;
}

function MongoC(data){
	var d = data;
	this.__proto__ = d;
	this.getA = function(){return d.aa + '!';}
}

var x = Mongo(data);
var y = x.getA();
var yy = x.aa;
var z = 3;

var x = new MongoC(data);
var y = x.getA();
var yy = x.aa;
var z = 3;

var ngRepeatDirective = ['$parse', '$animate', function($parse, $animate) {
  var NG_REMOVED = '$$NG_REMOVED';
  var ngRepeatMinErr = minErr('ngRepeat');
  return {
    transclude: 'element',
    priority: 1000,
    terminal: true,
    $$tlb: true,
    link: function($scope, $element, $attr, ctrl, $transclude){
        var expression = $attr.ngRepeat;
        var match = expression.match(/^\s*([\s\S]+?)\s+in\s+([\s\S]+?)(?:\s+track\s+by\s+([\s\S]+?))?\s*$/),
          trackByExp, trackByExpGetter, trackByIdExpFn, trackByIdArrayFn, trackByIdObjFn,
          lhs, rhs, valueIdentifier, keyIdentifier,
          hashFnLocals = {$id: hashKey};

        if (!match) {
          throw ngRepeatMinErr('iexp', "Expected expression in form of '_item_ in _collection_[ track by _id_]' but got '{0}'.",
            expression);
        }

        lhs = match[1];
        rhs = match[2];
        trackByExp = match[3];

        if (trackByExp) {
          trackByExpGetter = $parse(trackByExp);
          trackByIdExpFn = function(key, value, index) {
            // assign key, value, and $index to the locals so that they can be used in hash functions
            if (keyIdentifier) hashFnLocals[keyIdentifier] = key;
            hashFnLocals[valueIdentifier] = value;
            hashFnLocals.$index = index;
            return trackByExpGetter($scope, hashFnLocals);
          };
        } else {
          trackByIdArrayFn = function(key, value) {
            return hashKey(value);
          };
          trackByIdObjFn = function(key) {
            return key;
          };
        }

        match = lhs.match(/^(?:([\$\w]+)|\(([\$\w]+)\s*,\s*([\$\w]+)\))$/);
        if (!match) {
          throw ngRepeatMinErr('iidexp', "'_item_' in '_item_ in _collection_' should be an identifier or '(_key_, _value_)' expression, but got '{0}'.",
                                                                    lhs);
        }
        valueIdentifier = match[3] || match[1];
        keyIdentifier = match[2];

        // Store a list of elements from previous run. This is a hash where key is the item from the
        // iterator, and the value is objects with following properties.
        //   - scope: bound scope
        //   - element: previous element.
        //   - index: position
        var lastBlockMap = {};

        //watch props
        $scope.$watchCollection(rhs, function ngRepeatAction(collection){
          var index, length,
              previousNode = $element[0],     // current position of the node
              nextNode,
              // Same as lastBlockMap but it has the current state. It will become the
              // lastBlockMap on the next iteration.
              nextBlockMap = {},
              arrayLength,
              key, value, // key/value of iteration
              trackById,
              trackByIdFn,
              collectionKeys,
              block,       // last object information {scope, element, id}
              nextBlockOrder = [],
              elementsToRemove;

          var updateScope = function(scope, index) {
            scope[valueIdentifier] = value;
            if (keyIdentifier) scope[keyIdentifier] = key;
            scope.$index = index;
            scope.$first = (index === 0);
            scope.$last = (index === (arrayLength - 1));
            scope.$middle = !(scope.$first || scope.$last);
            // jshint bitwise: false
            scope.$odd = !(scope.$even = (index&1) === 0);
            // jshint bitwise: true
          };

          if (isArrayLike(collection)) {
            collectionKeys = collection;
            trackByIdFn = trackByIdExpFn || trackByIdArrayFn;
          } else {
            trackByIdFn = trackByIdExpFn || trackByIdObjFn;
            // if object, extract keys, sort them and use to determine order of iteration over obj props
            collectionKeys = [];
            for (var itemKey in collection) {
              if (collection.hasOwnProperty(itemKey) && itemKey.charAt(0) != '$') {
                collectionKeys.push(itemKey);
              }
            }
            collectionKeys.sort();
          }

          arrayLength = collectionKeys.length;

          // locate existing items
          length = nextBlockOrder.length = collectionKeys.length;
          for(index = 0; index < length; index++) {
           key = (collection === collectionKeys) ? index : collectionKeys[index];
           value = collection[key];
           trackById = trackByIdFn(key, value, index);
           assertNotHasOwnProperty(trackById, '`track by` id');
           if(lastBlockMap.hasOwnProperty(trackById)) {
             block = lastBlockMap[trackById];
             delete lastBlockMap[trackById];
             nextBlockMap[trackById] = block;
             nextBlockOrder[index] = block;
           } else if (nextBlockMap.hasOwnProperty(trackById)) {
             // restore lastBlockMap
             forEach(nextBlockOrder, function(block) {
               if (block && block.scope) lastBlockMap[block.id] = block;
             });
             // This is a duplicate and we need to throw an error
             throw ngRepeatMinErr('dupes', "Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: {0}, Duplicate key: {1}",
                                                                                                                                                    expression,       trackById);
           } else {
             // new never before seen block
             nextBlockOrder[index] = { id: trackById };
             nextBlockMap[trackById] = false;
           }
         }

          // remove existing items
          for (var blockKey in lastBlockMap) {
            // lastBlockMap is our own object so we don't need to use special hasOwnPropertyFn
            if (lastBlockMap.hasOwnProperty(blockKey)) {
              block = lastBlockMap[blockKey];
              elementsToRemove = getBlockElements(block.clone);
              $animate.leave(elementsToRemove);
              forEach(elementsToRemove, function(element) { element[NG_REMOVED] = true; });
              block.scope.$destroy();
            }
          }

          // we are not using forEach for perf reasons (trying to avoid #call)
          for (index = 0, length = collectionKeys.length; index < length; index++) {
            key = (collection === collectionKeys) ? index : collectionKeys[index];
            value = collection[key];
            block = nextBlockOrder[index];
            if (nextBlockOrder[index - 1]) previousNode = getBlockEnd(nextBlockOrder[index - 1]);

            if (block.scope) {
              // if we have already seen this object, then we need to reuse the
              // associated scope/element
              nextNode = previousNode;
              do {
                nextNode = nextNode.nextSibling;
              } while(nextNode && nextNode[NG_REMOVED]);

              if (getBlockStart(block) != nextNode) {
                // existing item which got moved
                $animate.move(getBlockElements(block.clone), null, jqLite(previousNode));
              }
              previousNode = getBlockEnd(block);
              updateScope(block.scope, index);
            } else {
              // new item which we don't know about
              $transclude(function(clone, scope) {
                block.scope = scope;
                clone[clone.length++] = document.createComment(' end ngRepeat: ' + expression + ' ');
                $animate.enter(clone, null, jqLite(previousNode));
                previousNode = clone;
                // Note: We only need the first/last node of the cloned nodes.
                // However, we need to keep the reference to the jqlite wrapper as it might be changed later
                // by a directive with templateUrl when its template arrives.
                block.clone = clone;
                nextBlockMap[block.id] = block;
                updateScope(block.scope, index);
              });
            }
          }
          lastBlockMap = nextBlockMap;
        });
    }
  };

  function getBlockStart(block) {
    return block.clone[0];
  }

  function getBlockEnd(block) {
    return block.clone[block.clone.length - 1];
  }
}];
</script>