@model Cno.Roca.BackEnd.Materials.Data.Users.User

<script type="text/javascript">


     //$(document).ready(function() {

     //    $('#projectMenuTooggle').click(function(e) {
     //        e.preventDefault();
     //        $("#projectMenu").toggle("fast");
     //    });

     //    $('#pipingMenuTooggle').click(function(e) {
     //        e.preventDefault();
     //        $("#pipingMenu").toggle("fast");
     //    });

     //    $('#instrMenuTooggle').click(function(e) {
     //        e.preventDefault();
     //        $("#instrMenu").toggle("fast");
     //    });

     //    $('#horasMenuTooggle').click(function (e) {
     //        e.preventDefault();
     //        $("#horasMenu").toggle("fast");
     //    });

     //});  

 </script>
@if (Model.IsSuperAdmin())
{
    <span class="menuroot">Login</span>
    <div class="menuSection">
        <div><a href="#/Login/Impersonate">Impersonate</a></div>
    </div>
    <span id="projectMenuTooggle" class="menuroot">Proyecto</span>
    <div id="projectMenu" class="menuSection">
        <div><a href="#/Project/Selection">Seleccionar</a></div>
    </div>
    <span id="instrMenuTooggle" class="menuroot">Inst/Elec</span>
    <div id="instrMenu" class="menuSection">
        <div><a href="#/Taggable/Types">Tipos Tagueables</a></div>
        <div><a href="#/Material/List">Materiales</a></div>
        <div><a href="#/MaterialList/List">ListaLM</a></div>
    </div>

    <span id="pipingMenuTooggle" class="menuroot">Piping</span>
    <div id="pipingMenu" class="menuSection">
        <div><a href="#/Autoplant/List">Materiales</a></div>
    </div>
}
<span id="horasMenuTooggle" class="menuroot">Carga Horas</span>
<div id="horasMenu" class="menuSection">
    <div><a href="#/TimeSheet/Details/0">Cargar</a></div>
    <div><a href="#/TimeSheet/List">Listar</a></div>
    @if (Model.IsAdmin())
    {
        <div><a href="#/TimeSheet/Reports">Reportes</a></div>
        <div><a href="#/TimeSheet/Defaulters">Morosos</a></div>
        <div><a href="#/TimeSheet/Status">Cerrar planillas</a></div>
    }
</div>

