<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clutch" version="1.0.5302.28611" targetFramework="net40" />
  <package id="Clutch.Diagnostics.EntityFramework" version="1.0.5302.28614" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="PhantomJS" version="2.0.0" targetFramework="net40" />
  <package id="Protractor" version="0.4.0" targetFramework="net40" />
  <package id="Selenium.Support" version="2.45.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="net40" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net40" />
  <package id="WebDriver.ChromeDriver.win32" version="2.14.0.0" targetFramework="net40" />
</packages>