<div>
    <div class="modal-header">
        <h4>{{Title}}</h4>
    </div>
    <div class="modal-body">
        <div style="margin-bottom: 15px;">
            <span ng-bind-html="Question"></span>
        </div>
        <div class="form-group" ng-repeat="field in Fields">
            <label class="control-label small" >{{field.Label}}</label>
            <input class="input-sm" tabindex="{{$index + 1}}" ng-model="field.Value" ng-keyup="$event.keyCode == 13 ? ok() : null" type="text" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Aceptar</button>
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    </div>
</div>