<?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <add name="Autoplant" connectionString="DATA SOURCE=AUTOPLANT_P;PERSIST SECURITY INFO=True;USER ID=Autoplant;Password=cno"/>
    <add name="RocaContext" connectionString="DATA SOURCE=ROCA;PASSWORD=Roca;PERSIST SECURITY INFO=True;POOLING=true;USER ID=ROCA; PROMOTABLE TRANSACTION=PROMOTABLE;"
      providerName="Oracle.DataAccess.Client"  />
  </connectionStrings>     

